.default {
    .list {
        .item {
            h2 {
                text-align: center;
                margin-top: 5%;
                font-size: 18px;
                color: #526079;
                font-family: 'Exo', sans-serif;
            }
        }
    }
    .fonteEndereco {
        text-align: center;
        margin-top: 5%;
        font-size: 18px;
        color: #526079;
        font-family: 'Exo', sans-serif;
    }
}