.page-estabelecimento-list {
    .bar-home {
        .title {
            color: white;
        }
    }
    .listagem {
        margin-top: 8px;
    }
    .pesquisar {
        padding-top: 10%;
        input {
            color: #878fa4;
            font-family: 'Exo', sans-serif;
        }
    }
    .list {
        margin-bottom: 0px;
    }
    a.item {
        color: yellow;
        text-decoration: none;
    }
    .lista-menu {
        padding-top: 16%;
    }
    .container {
        background: #a20dd8;
    }
    .logo-estabelecimento {
        max-height: 130px;
    }
    .local-icon-scroller {
        height: 87px;
        -webkit-overflow-scrolling: touch;
        padding: 15px 15px 12px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        list-style: none;
    }
    .local-evento-scroller {
        -webkit-overflow-scrolling: touch;
        padding: 15px 15px 12px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
        list-style: none;
    }
    .local-icon {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        white-space: normal;
        margin-right: 15px;
        .image-icon {
            width: 54px;
            height: 100%;
            border-radius: 40%;
        }
    }
    .fonteTitulo {
        margin-top: 5%;
        font-size: 18px;
        color: #878fa4;
        font-family: 'Exo', sans-serif;
    }
    .fonteKM {
        font-size: 12px;
    }
}