/*
* Helpers
*/

.bg-primary {
    background: #9C27B0;
}

.bg-primary-text {
    color: white;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 100px;
}

.scroll {
    height: 100%;
}